@media (max-width: 1281px) {
	.content {
		margin-top: 105px;
	}

	/* advanced filter */
	.advanced-filter .filter-text {
		width: 100%;
		float: none;
		padding: 0;
		margin-bottom: 40px;
	}
	.filter h4 {
		margin-bottom: 15px;
		line-height: 30px;
	}
	.advanced-filter #filter-form {
		text-align: center;
		width: 100%;
	}
	.advanced-filter .row1, .advanced-filter .row2 {
		display: inline;
	}
	.advanced-filter .input-wrapper, .advanced-filter .select-wrapper, .advanced-filter .row2 .readmore {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px 20px!important;
		float: none;
	}
	.advanced-filter .select-wrapper .drop-list {
	    padding: 0 70px 0 20px;
	}
	.photo-video-item .images .last {
		margin-right: 40px!important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 1000px;
	}
	header .logo {
		width: 240px;
		height: 60px;
	}
	header .header-nav.nav2, header .phone {
		margin-top: 10px;
	}
	.slider {
		margin-top: 105px;
	}
	.burger {
		margin-top: 30px;
	}
	.grid-view .big-item, .grid-view .small-item {
		width: 33%;
	    position: relative!important;
	    top: auto!important;
	    left: auto!important;
	}
	.grid-view .item {
		padding-bottom: 20px;
	}
	.grid-view .grid-item:nth-child(2n+1):after {
		display: block;
		float: none;
		content: '';
		clear: both;
	}
	.grid-view .info-block {
		height: 240px;
		overflow: hidden;
	}
	.grid-view .info-block h3 {
	    line-height: 1.2;
	}
	.grid-view .item .img {
		height: 350px;
		overflow: hidden;
	}
	.grid-view .item img {
		height: auto;
    	width: 100%;
	}
	.grid-view .more {
		display: block;
		padding: 10px!important;
	}
	.grid-view .info-block p {
		max-height: 180px;
		overflow: hidden;
	}
	.cards>div h3 {
	    font-size: 1.475rem;
		margin: 20px;
	}
	.cards>div p {
	    line-height: 1.5;
	    margin: 0 20px 0;
	    top: 200px;
	}
	.carousel .cards>div p {
	    top: 280px;
	}
	.cards .location, .cards.center .location {
		margin: 0 20px 100px 20px;
	}
	.cards.center .location {
		right: auto;
	}
	.cards .readmore {
		margin: 0 20px 20px;
	}
	#map,.popup-manager {
		max-width: 700px;
	}
	.photo-video-list {
		text-align: center;
	}
	.tab-info .tab-nav {
		border-bottom: 0;
	}
	.tab-info .tab-nav .active {
		border: 2px solid #262626;
	}
	.list-item .item-wrapper {
	    padding-left: 340px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 750px;
	}
	.last-projects-items .h3-block {
	    top: 50px;
	}
	.carousel .cards>div p {
	    top: 60%;
	}
	.item-desc .shadow {
		min-height: 150px;
	}
	/* projects search results view */
	.list-view .item {
		height: auto;
	    padding: 20px;
	}
	.list-view .info-block h3 {
		margin-top: 0;
	}
	.list-view .item img {
		width: 100%;
	    margin-top: 0;
	}
	.grid-view .big-item, .grid-view .small-item {
		width: 100%;
		display: block;
		float: none;
	}
	.grid-view .item img {
	    margin: 0 auto;
	    width: auto;
	    height: 100%;
	}
	.grid-view .info-block {
		height: auto;
	}
	.cards .spotlight-preview {
		display: none;
	}
	.item-desc .shadow {
		padding: 15px;
	}
	.item-desc .shadow h2 {
	    font-size: 1.8rem;
	}
	.info-block p {
		font-size: 16px;
	}
	.cards .location {
		margin: 0 20px 80px 20px;
		padding: 10px;
	}
	.readmore {
	    padding: 15px 80px 15px 20px;
	}
	.readmore:before {
		top: 18px;
	}

	.content-home .filter h4 {
		text-align: center;
	}

	.content-home .filter .select-wrapper, .content-home .filter button {
	    margin: 0 auto 20px!important;
	    float: none;
	    display: block;
	}

	/* single page */
	.single-page .right-col, .single-page .left-col, .content-left-block {
		display: block;
		width: 100%;
		float: none;
		margin: 0 auto!important;
		padding: 60px 0 0 0;
	}

	/* footer */
	.footer-menu2 {
		padding: 40px 0!important;
	}
	.footer-menu1 ul, .footer-menu2 span, .footer-menu2 a {
		display: block;
		margin: 0 auto 20px!important;
		width: 100%;
		text-align: center;
	}
	.footer-menu2 .social a {
		margin: 0 15px!important;
	}
	.rel-view img {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.media-center .list-item .item-wrapper {
		padding: 0;
	}
	.media-center .list-item img {
		float: none;
		margin-bottom: 20px;
	}
	.photo-video-list, 
	.photo-video-item .images ul {
		text-align: center;
	}
	.photo-video-item .images li, .photo-video-item .images .last {
	    margin-right: 0!important;
	}
	.container {
		width: 100%;
	}
	.content {
		margin-top: 70px;
	}
	header {
		padding: 15px 0 10px;
		height: 55px;
	}
	.burger {
		margin-top: 15px;
	}
	header .logo {
		width: 200px;
    	height: 50px;
	}
	header .header-nav.nav2 {
	    margin-top: 0;
	}
	.item-desc .shadow {
		min-height: 100%;
	}

	/* slider */
	.slider {
		margin-top: 80px;
	}
	.shadow .info-block p {
		display: none;
	}
	.item-desc .shadow h2 {
	    font-size: 1.2rem;
		margin-bottom: 0;
	}

	.carousel .last-projects-items .h3-block {
	    top: 30px;
	}
	.carousel .cards>div p {
	    display: none;
	}

	/* advanced filter */
	.advanced-filter {
		padding: 20px 0;
	}
	.advanced-filter #filter-form {
		width: 100%;
	}
	.advanced-filter .input-wrapper, .advanced-filter .select-wrapper, .advanced-filter .row2 .readmore {
		margin: 0 auto 20px!important;
		float: none;
		display: block;
		width: 250px;
	}
	.advanced-filter .select-wrapper .drop-list {
		padding: 0 70px 0 20px;
	}
	.advanced-filter .row2 {
		margin-top: 0;
	}

	/* projects search results view */
	.list-view .item {
	    padding: 0 0 30px 0;
	}
	.list-view .item .img {
	    margin: 0 auto 20px;
	    float: none;
	    width: 100%;
	}
	.list-view .item .info-block {
	    margin: 0 auto;
	    float: none;
	    width: 100%;
	}

	/* fitler */
	.filter {
		text-align: center;
		padding: 20px 0;
	}
	.filter .select-wrapper, .filter .online-sale, .filter button, .content-home .filter button, .content-home .filter .select-wrapper {
		float: none;
		display: block;
		margin: 0 auto 15px !important;
	    width: 250px;
	}
	.filter .online-sale {
		margin-bottom: 0!important;
	}
	.drop-list {
		width: 250px;
		padding: 0 70px 0 20px;
	}
	.filter .online-sale:after {
		right: 40px;
	}

	/* cards and sections */
	.section-title {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.cards .location {
		margin: 0 20px 80px 20px;
		padding: 10px;
	}
	.cards .readmore {
	    padding: 15px 80px 15px 20px;
	}
	.readmore:before {
		top: 18px;
	}
	.cards .spotlight-preview {
		margin-bottom: 130px;
	}
	.section-title .line {
		display: none;
	}
	.center .cards-small, .cards .cards-big {
		width: 100%;
		float: none;
	}
	.cards>div h3 {
		font-size: 1.275rem;
	}
	.advanced-filter .readmore {
		padding: 15px 70px 15px 20px;
	}

	/* partners */
	.partners {
		margin-top: 75px;
	}
	.partners a {
		margin: 0 auto 40px;
		display: block;
	}

	/* single page */
	.single-page .lid {
		padding: 0 15px;
	}
	.subscribe-form {
		max-width: 100%;
	}
	.single-page p {
		padding: 0 15px;
	}

	/* single quote */
	.single-page .quote {
		width: 100%;
    	box-sizing: border-box;
		padding: 20px;
		position: relative;
	}
	.single-page .quote p {
		padding: 10px;
		background: rgba(0, 0, 0, 0.5);
	}
	.single-page .quote .readmore {
		border: 1px solid #000;
    	color: #000;
	}
	.single-page .quote .readmore:before {
		background: url('../img/sprite.png') no-repeat -314px -18px;
	}
	.single-page .quote .readmore:after {
		    border-left: 1px solid #000;
	}
	.single-page .quote h2 {
    	text-shadow: 0 1px 2px #000;
	}
	.right-col .text-header h2, .title-banner h2 {
		font-size: 2rem;
	}
	.title-banner h2 {
	     line-height: 5.7;
		 padding-top: 50px;
	}
	.footer-menu2 .wrapper {
		padding: 0 0 0 0;
	}
	.section-title h2 {
	    text-align: center;
	    padding: 0;
	}
	.last-projects-items .h3-block {
	    top: 200px;
	}
	.event-page .list-item img {
		display: block;
		float: none;
		margin: 0 auto 20px;
	}
	.event-page .list-item .item-wrapper {
		padding: 0!important;
		margin: 0 auto;
	}
	.event-page .lid {
		padding: 0 20px;
	}
	#map,.popup-manager {
		max-width: 300px;
	}
}
