@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 1000px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 750px;
	}
}